html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #0c0f14;
}
* {
  margin: 0;
  padding: 0;
}
.black {
  background-color: #0c0f14;
}
.customContainer {
  margin: 0 auto;
  max-width: 1300px;
  padding: 0 10px;
}
.sectionPadding {
  padding-top: 100px;
}

.primaryGradientBtn {
  background-image: linear-gradient(
    to right top,
    #3135ac,
    #4634c3,
    #5e30d8,
    #7925ed,
    #9600ff
  ) !important;
  color: white !important;
  transition: 0.5s !important;
  transform: scale(1);
  text-transform: uppercase;
  padding: 6px 15px;
  border-radius: 0.25rem;
}

.primaryGradientBtn:focus {
  outline: none;
}
.primaryGradientBtn:hover {
  transform: scale(1.1);
}

.mainHeader {
  color: white;
  text-transform: uppercase;
  font-size: 50px;
}
.paragraph {
  color: #eeeeee;
  padding-bottom: 20px;
}
.mainParagraph {
  font-size: 20px;
}
.headerCurve {
  clip-path: polygon(0 0, 68% 0, 100% 100%, 0% 100%);
  z-index: -10;
  background-image: linear-gradient(
    to right top,
    #3135ac,
    #4634c3,
    #5e30d8,
    #7925ed,
    #9600ff
  ) !important;
}
